* {
    color: #333333;
}

main {
    max-width: 960px;
    /* 控制宽度 */
    margin: 0 auto;
    /* 水平居中 */
}

header {
    background: linear-gradient(to top, #00796B, #009688);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: bolder;
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}



section {
    padding: 50px;
    text-align: center;
    font-size: 1.5rem;
}

section h1 {
    margin-bottom: 20px;
}

li {
    line-height: 3rem;
}

@media screen and (max-width: 768px) {
    header {
        height: 4rem;
    }

    .logo {
        font-size: 2rem;
    }

    section {
        font-size: 1.1rem;
        padding: 20px;
    }
}

/* class 属性为 left-TitleGB */
section.left-TitleGB {
    text-align: left;
    padding: 20px;
}

section.left-TitleGB h1,
section.left-TitleGB h2,
section.left-TitleGB h3,
section.left-TitleGB h4,
section.left-TitleGB h5,
section.left-TitleGB h6 {
    color: #00796B;
    text-align: left;
}

a {
    line-height: 3rem;
    background-color: gold;
}

a {
    position: relative;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}



/* 模态框样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 10px;
  }

  @keyframes highlight {
    0% {
        background-color:rgba(127, 255, 212, 0.2);
    }
    50% {
        background-color:rgba(127, 255, 212, 0.5);
    }
    100% {
        background-color:rgba(127, 255, 212, 0.2);
    }
}

span.highlight {
    animation-name: highlight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #e8491d;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button:hover {
    background: #333;
}