@charset "utf-8";
/* CSS Document */
input{ background-color:#f4f5f5; border:1px solid #e9e9e9;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px; width:90%; height:20px; padding:2px;}

.loginArea{ padding:65px 0;}
.login{ border:2px solid #dbdbdb;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px; width:260px; margin:0 auto; height:200px; background-color:#fff; padding:5px; }
.login h2{ background:url(../image/tt_bg.png) no-repeat; width:241px; height:26px; background-size:257px 26px; color:#35b2ac; padding-left:16px; font-size:15px; line-height:160%; overflow:hidden;}

.tabArea{ padding:10px 0; text-align:center;}
.tabArea th{ padding:5px 1px; font-size:15px; color:#646464; text-align:right;}
.tabArea td{ padding:5px 1px; text-align:left;}

